.component {
  background-color: var(--gray-2);
  height: 100%;
  position: relative;
  overflow-x: hidden;
}

.draggingNote > div::before{
  background-color: var(--gray-3) !important;
  backdrop-filter: none !important;
}