.radix-themes {
    --cursor-button: pointer;
    --cursor-checkbox: pointer;
    --cursor-disabled: default;
    --cursor-link: pointer;
    --cursor-menu-item: pointer;
    --cursor-radio: pointer;
    --cursor-slider-thumb: grab;
    --cursor-slider-thumb-active: grabbing;
    --cursor-switch: pointer;

    --line-height-8: 1.2;
    --line-height-9: 1.3;
}

@media (prefers-reduced-motion: no-preference) {
    .rt-BaseDialogOverlay[data-state='closed']::before {
        animation-fill-mode: forwards;
    }
}
